.dark-green-container {
    background-color: #0f8151; /* Verde um pouco mais claro */
    width: 100%; /* Ajuste para a largura desejada */
    max-width: 150px; /* ou qualquer outra largura máxima desejada */
    padding-left: 2rem;
    padding-top: 20px;
  }
.green-top-margin {
    background-color: #0f8151; /* Verde um pouco mais claro */
    width: 100%; /* Ajuste para a largura desejada */
    max-width: 2000px; /* ou qualquer outra largura máxima desejada */
    padding-top: 20px; /* Ajuste o valor conforme necessário */
    }

.product-description {
    padding-left: 50px; 
    padding-top: 20px; 
    }

.product-spacing {
    margin-bottom: 3rem;
    margin-right: 2rem;
    }